@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Bungee+Shade);
@import url(https://fonts.googleapis.com/css?family=Bungee);
h1 {
  background-color: #05ffb0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 3em;
  text-shadow: 2px 2px 3px rgba(0,0,0,.3);
  font-family: 'Bungee Shade';
}
body {
background: url(3D-Love-HD.jpg) no-repeat center center/cover;
height: 100vh;
}
.heart {
  top: 40px;
  position: relative;
  background-color: red;
  height: 60px;
  transform: rotate(-45deg);
  width: 60px;
}
.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 60px;
  position: absolute;
  width: 60px;
}
.heart:after {
  left: 30px;
  top: 0;
}
.heart:before {
  top: -30px;
  left: 0;
}
.center{
  margin:auto;
}

div.person{
  background-color: #ff007b;
  height: 200px;
  width: 150px;
}
#card1{
  position: absolute;
  left: 0px;
}
#card2{
  position: absolute;
  right: 0px;
}
div.persons{
  margin: auto;
  position: relative;
  height: 200px;
  width: 500px;
}
.name{
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: Arial;
}
input[type=text] {
  width: 89%;
  padding: 10px 10px;
  margin: 8px;
  box-sizing: border-box;
}

.nameLabel{
  color: white;
  font-family: Arial sans-serif normal;
  margin-left: 10px;
}
.setButton {
  background-color: #ffaaf9;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin: 0 48px;
  cursor: pointer;
}
#compute {
  position: relative;
  background-color: #ff007b;
  display: block;
  margin: auto;
  border: none;
  color: white;
  font-family: 'Bungee';
  font-size: 20px;
  border-radius: 15px;
  top: 100px;
  cursor: pointer;
}
#compute:focus {
  background-color: white;
  color: #ff007b;
  outline: none;
}
#resultLabel{
  position: relative;
  margin: auto;
  left: 213px;
  top: -86px;
  font-family: 'Indie Flower';
  font-size: 50px;
  font-weight: bold;
}
#resultLabel.animated::after{
  content:"";
  animation-name: calculating;
  animation-duration: 3s;
}
@keyframes calculating {
  0%  {content: "74%";}
  5%  {content: "28%";}
  10% {content: "54%";}
  15% {content: "17%";}
  20% {content: "44%";}
  25% {content: "5%";}
  30% {content: "87%";}
  35% {content: "100%";}
  40% {content: "66%";}
  50% {content: "89%"}
  60% {content: "22%";}
  70% {content: "32%";}
  85% {content: "80%";}
  100%{content: "35%";}
}
